<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Festival</title>
</head>

<body>
    <header class="header">
        <div class="header__image-wrapper">
            <img src="Assets/Images/header_image.jpg" alt="Music Festival">
            <div class="header__image-overlay"></div>
        </div>
        <nav class="navigation">
            <div class="navigation__wrapper container">
                <ul class="navigation__list">
                    <li class="navigation__item"><a class="navigation__link" href="#top"><span>START</span></a></li>
                    <li class="navigation__item"><a class="navigation__link" href="#top"><span>ARTIST</span></a></li>
                    <li class="navigation__item"><a class="navigation__link" href="#top"><span>LOCATION</span></a></li>
                    <li class="navigation__item"><a class="navigation__link" href="#top"><span>SIGN UP</span></a></li>
                </ul>
                <div class="navigation__social-wrapper">
                    <a href="https://www.facebook.com/"><img src="Assets/Icons/facebook.svg" alt="Facebook"></a>
                    <a href="https://www.instagram.com/"> <img src="Assets/Icons/instagram.svg" alt="Instagram"></a>
                </div>
            </div>
        </nav>
        <div class="header__content container">
            <h1 class="headline-light">Music Festival - KRAKÓW 2022</h1>
            <p class="paragraph-gray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam est numquam nisi
                ea, tempora quisquam similique qui ratione doloribus assumenda?</p>
            <button class="button button--primary">SIGN UP</button>
            <div class="header__equalizer equalizer">
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
            </div>
        </div>
    </header>
    <section class="section-artists">
        <div class="container artists">
            <div class="artists__header">
                <h2 class="headline-light">ARTIST</h2>
                <p class="paragraph-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quasi
                    excepturi natus iusto possimus debitis et vel ipsum pariatur maxime.</p>
            </div>
            <div class="artists__list">
                
            </div>
        </div>
    </section>
</body>

</html>