<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Festival</title>
</head>

<body id="top">
    <header class="header">
        <div class="header__image-wrapper">
            <img src="Assets/Images/header_image.jpg" alt="Music Festival">
            <div class="header__image-overlay"></div>
        </div>
        <nav class="navigation">
            <div class="navigation__wrapper container">
                <button id="navTrigger--open" class="navigation__trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <ul class="navigation__list">
                    <li class="navigation__item"><a class="navigation__link" href="#top"><span>START</span></a></li>
                    <li class="navigation__item"><a class="navigation__link" href="#artists"><span>ARTIST</span></a></li>
                    <li class="navigation__item"><a class="navigation__link" href="#location"><span>LOCATION</span></a></li>
                    <li class="navigation__item"><a class="navigation__link" href="#sign-up"><span>SIGN UP</span></a></li>
                </ul>
                <div class="navigation__social-wrapper">
                    <a href="https://www.facebook.com/"><img src="Assets/Icons/facebook.svg" alt="Facebook"></a>
                    <a href="https://www.instagram.com/"> <img src="Assets/Icons/instagram.svg" alt="Instagram"></a>
                </div>
            </div>
            <div class="mobile-nav">
                <div class="container">
                    <button id="navTrigger--close" class="mobile-nav__trigger">
                        <span></span>
                        <span></span>
                    </button>
                    <ul class="mobile-nav__list">
                        <li class="mobile-nav__item"><a class="mobile-nav__link" href="#top"><span>START</span></a></li>
                        <li class="mobile-nav__item"><a class="mobile-nav__link" href="#artists"><span>ARTIST</span></a></li>
                        <li class="mobile-nav__item"><a class="mobile-nav__link" href="#location"><span>LOCATION</span></a></li>
                        <li class="mobile-nav__item"><a class="mobile-nav__link" href="#sign-up"><span>SIGN UP</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="header__content container">
            <h1 class="headline-light">Music Festival - KRAKÓW 2022</h1>
            <p class="paragraph-gray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam est numquam nisi
                ea, tempora quisquam similique qui ratione doloribus assumenda?</p>
            <a href="#sign-up" class="button button--primary">SIGN UP</a>
            <div class="header__equalizer equalizer">
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
            </div>
        </div>
    </header>
    <main>
        <section class="section-artists">
            <span id="artists" class="anchor"></span>
            <div class="container artists">
                <div class="artists__header">
                    <h2 class="headline-light">ARTIST</h2>
                    <p class="paragraph-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quasi
                        excepturi natus iusto possimus debitis et vel ipsum pariatur maxime.</p>
                </div>
                <div class="artists__items">
                    <a href="#top" class="artists__link">
                        <div class="artists__item item">
                            <div class="item__image-wrapper">
                                <img src="Assets/Images/header_image.jpg" alt="Example">
                            </div>
                            <div class="item__content">
                                <div class="item__header">
                                    <h5 class="headline-light headline-nospace">TACO HEMINGWAY</h5>
                                    <span class="item__date">27.09.2022</span>
                                </div>
                                <div class="item__description">
                                    <p class="paragraph-gray">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Consequatur debitis similique dicta, enim nulla doloribus cumque quam inventore
                                        porro eius reiciendis praesentium suscipit voluptatibus iure minus. Pariatur
                                        illum itaque repudiandae.</p>
                                </div>
                                <button class="item__button">
                                    <span>READ MORE</span>
                                    <img src="Assets/Icons/arrow-right.svg" alt="Arrow right">
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="artists__show-more">
                    <button id="showMoreArtists" class="button button--primary">SHOW MORE ARTISTS</button>
                </div>
            </div>
        </section>
        <section class="section-location">
            <span id="location" class="anchor"></span>
            <div class="container location">
                <div class="location__header">
                    <h2>LOCATION</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quasi
                        excepturi natus iusto possimus debitis et vel ipsum pariatur maxime.</p>
                </div>
                <div class="location__content">
                    <div class="location__map-wrapper">
                        <!-- <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12271.992475912657!2d19.93093117981932!3d50.06178684086782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b0df90f6453%3A0xbb2e110fa28d685b!2zUnluZWsgR8WCw7N3bnksIEtyYWvDs3c!5e0!3m2!1spl!2spl!4v1654516695435!5m2!1spl!2spl"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                    </div>
                    <div class="location__paragraph">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas quidem at, maxime ad fugit hic
                            quo iste. Explicabo, similique odio. Vel voluptates fugiat natus soluta? Ipsam inventore
                            error ipsum accusantium, omnis praesentium itaque odit quis, ullam laboriosam quae esse aut
                            laborum vero impedit quidem distinctio dolorem sed. Inventore, in sint.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, rem!</p>
                        <p>Rynek Głowny, Kraków</p>
                        <p>6:00 PM</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-sign-up">
            <span id="sign-up" class="anchor"></span>
            <div class="container sign-up">
                <div class="sign-up__header">
                    <h2 class="headline-light">SIGN UP</h2>
                    <p class="paragraph-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quasi
                        excepturi natus iusto possimus debitis et vel ipsum pariatur maxime.</p>
                </div>
                <div class="sign-up__content">
                    <div class="sign-up__form-wrapper">
                        <form action="" class="sign-up-form">
                            <div class="input-wrapper sign-up-form__text-input-wrapper">
                                <input name="name" type="text" class="input input--text sign-up-form__text-input" required>
                                <label for="name">Name</label>
                            </div>
                            <div class="input-wrapper sign-up-form__text-input-wrapper">
                                <input name="surname" type="text" class="input input--text sign-up-form__text-input">
                                <label for="surname">Surname</label>
                            </div>
                            <div class="input-wrapper sign-up-form__text-input-wrapper">
                                <input name="email" type="email" class="input input--email sign-up-form__text-input" required>
                                <label for="email">Email</label>
                            </div>
                            <fieldset id="form-about">
                                <h6 class="headline-light">How do you know about us</h6>
                                <div class="radio-wrapper">
                                    <input type="radio" value="Friend" name="form-about" class="radio" id="form-about_friend">
                                    <label for="form-about_friend">Friend</label>
                                </div>
                                <div class="radio-wrapper">
                                    <input type="radio" value="Internet" class="radio" name="form-about" id="form-about_internet">
                                    <label for="form-about_internet">Internet</label>
                                </div>
                                <div class="radio-wrapper">
                                    <input type="radio" value="Facebook" class="radio" name="form-about" id="form-about_facebook">
                                    <label for="form-about_facebook">Facebook</label>
                                </div>
                                <div class="radio-wrapper">
                                    <input type="radio" value="Instagram" class="radio" name="form-about" id="form-about_instagram">
                                    <label for="form-about_instagram">Instagram</label>
                                </div>
                                <div class="radio-wrapper">
                                    <input type="radio" value="Advertisement" class="radio" name="form-about" id="form-about_add">
                                    <label for="form-about_add">Advertisement</label>
                                </div>
                                <div class="radio-wrapper">
                                    <input type="radio" value="other" class="radio" name="form-about" id="form-about_other">
                                    <label for="form-about_other">Other</label>
                                </div>
                                <div class="input-wrapper sign-up-form__text-input-wrapper sign-up-form__text-input-wrapper--other">
                                    <input name="form-about" type="text" class="input input--text sign-up-form__text-input sign-up-form__text-input--other" id="form-about_other--text">
                                    <label for="form-about_other--text">Other</label>
                                </div>
                            </fieldset>
                            <div class="input-wrapper sign-up-form__text-input-wrapper">
                                <input name="phone_number" type="tel" class="input input--phone-number sign-up-form__text-input" required>
                                <label for="phone_number">Phone number</label>
                            </div>
                            <div class="checkbox-wrapper sign-up-form__checkbox-wrapper">
                                <input name="regualtions" id="reg" type="checkbox" class="checkbox sign-up-form__checkbox" required>
                                <label for="reg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum possimus ducimus itaque nihil saepe quo.</label>
                            </div>
                            <button type="submit" class="button button--secondary">SUBMIT</button>
                        </form>
                    </div>
                    <div class="sign-up__image-wrapper">
                        <picture>
                            <source media="(min-width:992px)" srcset="Assets/Images/form_image_2x.jpg">
                            <source media="(min-width:576px)" srcset="Assets/Images/form_image_1.5x.jpg">
                            <img src="Assets/Images/form_image_1x.jpg" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
        </section>
        <section id="partners" class="section-partners">
            <div class="container partners">
                <div class="partners__header">
                    <h2>PARTNERS</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quasi
                        excepturi natus iusto possimus debitis et vel ipsum pariatur maxime.</p>
                </div>
                <div class="partners__content">
                    
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">

    </footer>
</body>

</html>