<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Festival</title>
</head>

<body>
    <header class="header">
        <div class="header__image-wrapper">
            <img src="Assets/Images/header_image.jpg" alt="Music Festival">
            <div class="header__image-overlay"></div>
        </div>
        <nav class="navigation">
            <div class="navigation__wrapper container">
                <ul class="navigation__list">
                    <li class="navigation__item"><a class="navigation__link" href="#top"><span>START</span></a></li>
                    <li class="navigation__item"><a class="navigation__link" href="#top"><span>ARTIST</span></a></li>
                    <li class="navigation__item"><a class="navigation__link" href="#top"><span>LOCATION</span></a></li>
                    <li class="navigation__item"><a class="navigation__link" href="#top"><span>SIGN UP</span></a></li>
                </ul>
                <div class="navigation__social-wrapper">
                    <a href="https://www.facebook.com/"><img src="Assets/Icons/facebook.svg" alt="Facebook"></a>
                    <a href="https://www.instagram.com/"> <img src="Assets/Icons/instagram.svg" alt="Instagram"></a>
                </div>
            </div>
        </nav>
        <div class="header__content container">
            <h1 class="headline-light">Music Festival - KRAKÓW 2022</h1>
            <p class="paragraph-gray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam est numquam nisi
                ea, tempora quisquam similique qui ratione doloribus assumenda?</p>
            <button class="button button--primary">SIGN UP</button>
            <div class="header__equalizer equalizer">
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
                <span class="equalizer__item"></span>
            </div>
        </div>
    </header>
    <main>
        <section class="section-artists">
            <div class="container artists">
                <div class="artists__header">
                    <h2 class="headline-light">ARTIST</h2>
                    <p class="paragraph-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quasi
                        excepturi natus iusto possimus debitis et vel ipsum pariatur maxime.</p>
                </div>
                <div class="artists__items">
                    <a href="#top" class="artists__link">
                        <div class="artists__item item">
                            <div class="item__image-wrapper">
                                <img src="Assets/Images/header_image.jpg" alt="Example">
                            </div>
                            <div class="item__content">
                                <div class="item__header">
                                    <h5 class="headline-light headline-nospace">TACO HEMINGWAY</h5>
                                    <span class="item__date">27.09.2022</span>
                                </div>
                                <div class="item__description">
                                    <p class="paragraph-gray">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Consequatur debitis similique dicta, enim nulla doloribus cumque quam inventore
                                        porro eius reiciendis praesentium suscipit voluptatibus iure minus. Pariatur
                                        illum itaque repudiandae.</p>
                                </div>
                                <button class="item__button">
                                    <span>READ MORE</span>
                                    <img src="Assets/Icons/arrow-right.svg" alt="Arrow right">
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="artists__show-more">
                    <button id="showMoreArtists" class="button button--primary">SHOW MORE ARTISTS</button>
                </div>
            </div>
        </section>
        <section class="section-location">
            <div class="container location">
                <div class="location__header">
                    <h2>LOCATION</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quasi
                        excepturi natus iusto possimus debitis et vel ipsum pariatur maxime.</p>
                </div>
                <div class="location__content">
                    <div class="location__map-wrapper">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12271.992475912657!2d19.93093117981932!3d50.06178684086782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b0df90f6453%3A0xbb2e110fa28d685b!2zUnluZWsgR8WCw7N3bnksIEtyYWvDs3c!5e0!3m2!1spl!2spl!4v1654516695435!5m2!1spl!2spl"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="location__paragraph">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas quidem at, maxime ad fugit hic
                            quo iste. Explicabo, similique odio. Vel voluptates fugiat natus soluta? Ipsam inventore
                            error ipsum accusantium, omnis praesentium itaque odit quis, ullam laboriosam quae esse aut
                            laborum vero impedit quidem distinctio dolorem sed. Inventore, in sint.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, rem!</p>
                        <p>Rynek Głowny, Kraków</p>
                        <p>6:00 PM</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-sign-up">
            <div class="container sign-up">
                <div class="sign-up__header">
                    <h2 class="headline-light">SIGN UP</h2>
                    <p class="paragraph-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quasi
                        excepturi natus iusto possimus debitis et vel ipsum pariatur maxime.</p>
                </div>
                <div class="sign-up__content">
                    <div class="sign-up__form-wrapper">
                        <form action="">
                            <div class="input-wrapper">
                                <input type="text" class="input input--text">
                            </div>
                        </form>
                    </div>
                    <div class="sign-up__image-wrapper">
                        <picture>
                            <source media="(min-width:992px)" srcset="Assets/Images/form_image_2x.jpg">
                            <source media="(min-width:576px)" srcset="Assets/Images/form_image_1.5x.jpg">
                            <img src="Assets/Images/form_image_1x.jpg" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-partners">
            <div class="container partners">
                <div class="partners__header">
                    <h2>PARTNERS</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quasi
                        excepturi natus iusto possimus debitis et vel ipsum pariatur maxime.</p>
                </div>
                <div class="partners__content">
                    
                </div>
            </div>
        </section>
    </main>
</body>

</html>