$primary-color: #F1D292;
$secondary-color: #000204;
$white: #f2f2f2;
$font-light-color: $white;
$font-gray-color: #808081;
$font-dark-color: $secondary-color;


$primary-font: 'Sunflower';


$max-width: 1400px;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$font-weights: (
    light: 300,
    medium: 500,
    bold: 700,
);