$primary-color: #F1D292;
$secondary-color: #000204;
$white: #f8f8f8;
$font-light-color: $white;
$font-gray-color: #979797;
$font-dark-color: $secondary-color;
$page-color: $white;

$primary-font: 'Sunflower';

$max-width: 1400px;

$section-space: 48px;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$font-weights: (
    light: 300,
    medium: 500,
    bold: 700,
);