.navigation {
    width: 100%;
    z-index: 99;
    position: fixed;
    transition: all .4s ease-in-out;

    &__trigger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        @extend %reset-button;
        width: 28px;

        @include media-up('md') {
            display: none;
        }

        span {
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 5px;
            background-color: $white;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        height: 100%;
        min-height: 60px;
        padding-top: 16px;
        padding-bottom: 16px;
        transition: all .4s .2s ease-in-out;

        @include media-up('md') {
            justify-content: flex-end;
            min-height: 80px;
        }
    }

    &__list {
        display: none;
        @extend %reset-list-styles;

        @include media-up('md') {
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }

    &__link {
        letter-spacing: 1px;
        color: $font-light-color;
        font-weight: fontWeight('bold');
        font-size: 1.6rem;
        position: relative;

        span {
            display: block;
            padding: 10px 16px;
        }

        &::before,
        &::after {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            transition: all 0.2s linear;
            background: $white;
        }

        span::before,
        span::after {
            content: "";
            width: 1px;
            height: 0;
            position: absolute;
            transition: all 0.15s linear;
            background: $white;
        }

        &:hover::before,
        &:hover::after {
            width: 100%;
        }

        &:hover span::before,
        &:hover span::after {
            height: 100%;
        }

        &::after {
            right: 0;
            bottom: 0;
            transition-duration: 0.3s;
        }

        & span::after {
            right: 0;
            bottom: 0;
            transition-duration: 0.3s;
        }

        &::before {
            left: 0;
            top: 0;
            transition-duration: 0.3s;
        }

        & span::before {
            left: 0;
            top: 0;
            transition-duration: 0.3s;
        }
    }

    &__social-wrapper {
        border-left: 2px solid $white;
        margin-left: 16px;
        padding-left: 16px;
        display: flex;
        gap: 16px;
        align-items: center;

        img {
            filter: brightness(0) invert(1);
            width: 20px;
            height: 20px;
        }

        @include media-up('md'){
            margin-left: 34px;
            padding-left: 34px;
            gap: 24px;
        }
    }

    &--scrolled {
        background-color: $white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .navigation__trigger {
            span {
                background-color: $secondary-color;
            }
        }

        .navigation__wrapper {
            min-height: 40px;

            @include media-up('lg') {
                min-height: 60px;
            }
        }

        .navigation__link {
            color: $font-dark-color;
            font-size: 1.4rem;

            &::before,
            &::after,
            span::before,
            span::after {
                background: $secondary-color;
            }
        }

        .navigation__social-wrapper {
            border-color: $secondary-color;
            transition: all .3s ease-in-out;

            img {
                filter: brightness(0%);
            }
        }
    }
}

.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: $primary-color;
    color: $font-dark-color;
    z-index: 999;
    padding-top: 16px;
    padding-bottom: 16px;
    position: absolute;
    clip-path: circle(0px at 50% 50%);
    transition: 0.5s ease all;

    .container {
        height: 100%;
    }

    &.show {
        display: block;
        clip-path: circle(100%);

        @include media-up('md'){
            display: none;
        }

        .mobile-nav__link {
            opacity: 1;
        }
    }

    &__trigger {
        position: relative;
        @extend %reset-button;
        width: 28px;
        height: 34px;

        span {
            display: block;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 2px;
            border-radius: 5px;
            background-color: $secondary-color;

            &:nth-child(1) {
                transform: translateY(-50%) rotate(-45deg);
            }

            &:nth-child(2) {
                transform: translateY(-50%) rotate(45deg);
            }
        }
    }

    &__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        align-items: center;
    }


    &__link {
        font-weight: fontWeight('bold');
        font-size: 1.8rem;
        transition: all .3s .3s ease-in-out;
        opacity: 0;
    }
}